.barra-resultado {
  width: 100%;
  background-color: #F9EEF3;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.barra-porcentaje {
  height: 18px;
  background-color: #8A1538;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

main label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}

main input,
main textarea,
main select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#mensajeAlerta {
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}